@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using PatinhasMimadas.Common.Resources

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    IRequestCultureFeature requestCulture = Context.Features.Get<IRequestCultureFeature>();
    List<SelectListItem> cultureItems = LocOptions.Value.SupportedUICultures
         .Select(c => new SelectListItem { Value = c.Name, Text = c.TwoLetterISOLanguageName.ToUpper() })
         .ToList();

    string returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PatinhasMimadas.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="header">
            <a class="title" asp-area="" asp-controller="Home" asp-action="Index">Patinhas Mimadas</a>
            <br />
            <div class="horizontal-row"></div>
            <ul class="subtitle">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">@TitlesResource.Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">@TitlesResource.About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">@TitlesResource.Services</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">@TitlesResource.OpeningHours</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">@TitlesResource.GetInTouch</a>
                </li>
            </ul>
            <div class="language-selector">
                <form id="selectLanguage" asp-controller="Home" asp-action="SelectLanguage" asp-route-returnUrl="@returnUrl" method="post">
                    <select name="culture" class="form-control selectpicker" id="languageSelector" data-width="auto"
                            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                </form>
            </div>
        </div>
    </header>
    <div class="content-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PatinhasMimadas.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script src="~/js/app.js"></script>
    @section scripts {
        <script asp-add-nonce="true">
            new App();
        </script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
