@using PatinhasMimadas.Common.Resources

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid welcome-div">
    <div class="row h-100">
        <div class="col-sm-12 welcome-text-col">
            <h1 class="welcome-text-title">@Html.Raw(TitlesResource.Welcome)</h1>
        </div>
        <div class="col-sm-12 welcome-text-col">
            <p class="welcome-text-subtitle">@TitlesResource.ExactlyWhatYourDogNeeds</p>
        </div>
    </div>
</div>

<div class="container-fluid about-div" id="about">
    <div class="about-row row h-100">
        <div class="col-lg-6 col-sm-12">
            <div class="about-div-text">
                <h1 class="about-text-title">@TitlesResource.Title</h1>
                <p class="about-text-subtitle">@LabelResources.About1</p>
                <br />
                <p class="about-text-subtitle">@LabelResources.About2</p>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <img class="logo" src="~/img/patinhas-mimadas-logo.png" alt="logo" />
        </div>
    </div>
</div>
<div>
    <div id="services" class="services-div carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="service-row row">
                    <div class="col-lg-6 col-sm-12">
                        <img class="service-img" src="~/img/dog-wash.png" alt="dog-wash" />
                    </div>
                    <div class="service-text col-lg-6 col-sm-12">
                        <p class="service-title"> @TitlesResource.DogWash </p>
                        <p class="service-description"> @LabelResources.DogWashDescription </p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="service-row row">
                    <div class="col-lg-6 col-sm-12">
                        <img class="service-img" src="~/img/dog-sitting.png" alt="dog-sitting" />
                    </div>
                    <div class="service-text col-lg-6 col-sm-12">
                        <p class="service-title"> @TitlesResource.DogSitting </p>
                        <p class="service-description"> @LabelResources.DogSittingDescription </p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="service-row row">
                    <div class="col-lg-6 col-sm-12">
                        <img class="service-img" src="~/img/dog-self-service.png" alt="dog-self-service" />
                    </div>
                    <div class="service-text col-lg-6 col-sm-12">
                        <p class="service-title"> @TitlesResource.DogSelfService </p>
                        <p class="service-description"> @LabelResources.DogSelfServiceDescription </p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#services" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"> </span>
            </a>

            <a class="carousel-control-next" href="#services" role="button" data-slide="next">
                <span class="carousel-control-next-icon"> </span>
            </a>

        </div>

        <div class="location-div">
            <img class="location-img" src="~/img/location.png" alt="location" />
        </div>
        <div class="schedule-div" id="schedule">
            <p class="schedule-title"> @TitlesResource.Schedule </p>
            <p class="schedule-subtitle"> @LabelResources.ComeVisitUs </p>
            <p class="schedule">
                @Html.Raw(LabelResources.Schedule)
            </p>

        </div>

    </div>
</div>


@section scripts {
    <script asp-add-nonce="true">
        new App();
    </script>
}
