@using PatinhasMimadas.Common.Resources

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid welcome-div">
    <div class="row h-100">
        <div class="col-sm-12 welcome-text-col">
            <h1 class="welcome-text-title">@Html.Raw(TitlesResource.Welcome)</h1>
        </div>
        <div class="col-sm-12 welcome-text-col">
            <p class="welcome-text-subtitle">@TitlesResource.ExactlyWhatYourDogNeeds</p>
        </div>
    </div>
</div>

<div class="about-div" id="about">
    <div class="about-div-text">
        <h1 class="about-text-title">@TitlesResource.Title</h1>
        <p class="about-text-subtitle">@LabelResources.About1</p>
        <br />
        <p class="about-text-subtitle">@LabelResources.About2</p>
    </div>
    <img class="logo" src="~/img/patinhas-mimadas-logo.png" alt="logo" />
</div>
<div>
    <div class="services-div" id="services">
        <button id="previous"><</button>
        <button id="next">></button>
        <div class="dog-wash">
            <img class="service-img" src="~/img/dog-wash.png" alt="dog-wash" />
            <div class="service-text">
                <p class="service-title"> @TitlesResource.DogWash </p>
                <p class="service-description"> @LabelResources.DogWashDescription </p>
            </div>
        </div>
        <div class="dog-sitting" hidden="hidden">
            <img class="service-img" src="~/img/dog-sitting.png" alt="dog-sitting" />
            <div class="service-text">
                <p class="service-title"> @TitlesResource.DogSitting </p>
                <p class="service-description"> @LabelResources.DogSittingDescription </p>
            </div>
        </div>
        <div class="dog-self-service" hidden="hidden">
            <img class="service-img" src="~/img/dog-self-service.png" alt="dog-self-service" />
            <div class="service-text">
                <p class="service-title"> @TitlesResource.DogSelfService </p>
                <p class="service-description"> @LabelResources.DogSelfServiceDescription </p>
            </div>
        </div>

        <div class="location-div">
            <img class="location-img" src="~/img/location.png" alt="location" />
        </div>
        <div class="schedule-div" id="schedule">
            <p class="schedule-title"> @TitlesResource.Schedule </p>
            <p class="schedule-subtitle"> @LabelResources.ComeVisitUs </p>
            <p class="schedule">
                @Html.Raw(LabelResources.Schedule)
            </p>

        </div>

    </div>
</div>


@section scripts {
    <script asp-add-nonce="true">
        new App();
    </script>
}
